In [2]:
import pandas as pd 
from datetime import datetime

'''  
pulling cleaned data into the notebook 
'''
df = pd.read_csv("data_with_growth_v1.0.csv")

#set date to datetime object 
df["date"] = pd.to_datetime(df["date"])
df.set_index(["date","ticker"],inplace= True)
pd.set_option('display.float_format', '{:,.4f}'.format)
df.head()

                      market_cap          volume  price_to_book  \
date       ticker
2022-01-03 A         47,257.0847    554,098.0000         8.7692
           AA        11,293.5460  1,033,749.0000         2.3785
           AAL       12,140.8973  8,786,970.0000            NaN
           AAON       4,106.6876     83,790.0000         8.8262
           AAPL   2,986,128.3180 20,242,137.0000        41.3474

                   price_to_sales  pe_ratio  current_cap_share_class  \
date       ticker
2022-01-03 A               7.5274   42.0279              47,257.0847
           AA              0.9249    8.9225              11,293.5460
           AAL             0.4051       NaN              12,140.8973
           AAON            7.6801   63.5297               4,106.6876
           AAPL            7.9614   30.1565           2,986,128.3180

                   close_price  1year_PtoS_growth
date       ticker
2022-01-03 A          156.4800                NaN
           AA          60.3600                NaN
           AAL         18.7500                NaN
           AAON        52.2200                NaN
           AAPL       182.0100                NaN

In [3]:
from benchmark_tools import Benchmark

bench = Benchmark(df,1000)
bench.calculate_benchmark()

calculating benchmark for the first day 2022-01-03 00:00:00
2022-06-24 00:00:00 is an reconsitution date
 cur_divisor is 14.364035185622791,  self.bechmark_timeseries.loc[prev_date])
2023-06-23 00:00:00 is an reconsitution date
 cur_divisor is 13.831382310280812,  self.bechmark_timeseries.loc[prev_date])
2024-06-28 00:00:00 is an reconsitution date
 cur_divisor is 14.079188892396626,  self.bechmark_timeseries.loc[prev_date])
2025-06-27 00:00:00 is an reconsitution date
 cur_divisor is 13.189862018360119,  self.bechmark_timeseries.loc[prev_date])

In [4]:
bench.benchmark_makeup_dict

{Timestamp('2022-01-03 00:00:00'): 0      APTV
 1      CTAS
 2      TROW
 3      ANET
 4      DELL
        ...
 306    WFRD
 307    VNOM
 308     ELF
 309     DJT
 310    ASTS
 Name: ticker, Length: 311, dtype: object,
 Timestamp('2022-06-24 00:00:00'): 0       CMG
 1        ZM
 2        EA
 3         A
 4       DVN
        ...
 303    FRHC
 304    VNOM
 305    WFRD
 306     ELF
 307    ASTS
 Name: ticker, Length: 308, dtype: object,
 Timestamp('2023-06-23 00:00:00'): 0       IQV
 1      PAYX
 2       COR
 3        ON
 4        DG
        ...
 304    CORT
 305    VKTX
 306    SMMT
 307    VNOM
 308    ASTS
 Name: ticker, Length: 309, dtype: object,
 Timestamp('2024-06-28 00:00:00'): 0      FTNT
 1      TEAM
 2      MRNA
 3      SNOW
 4      DXCM
        ...
 318     TDC
 319    YETI
 320    IRDM
 321    ASTS
 322    RKLB
 Name: ticker, Length: 323, dtype: object,
 Timestamp('2025-06-27 00:00:00'): 0       LNG
 1      TEAM
 2       SPG
 3      PAYX
 4      NDAQ
        ...
 339    VKTX
 340     OGN
 341     WEN
 342    APLS
 343     TDC
 Name: ticker, Length: 344, dtype: object}

In [5]:
bench = Benchmark(df,1000) 
bench.calculate_benchmark_cvs()

calculating benchmark for the first day 2022-01-03 00:00:00
2022-06-24 00:00:00 is an reconsitution date
 cur_divisor is 14.476961052649237,  self.bechmark_timeseries.loc[prev_date])
2023-06-23 00:00:00 is an reconsitution date
 cur_divisor is 14.136450112848202,  self.bechmark_timeseries.loc[prev_date])
2024-06-28 00:00:00 is an reconsitution date
 cur_divisor is 14.320101716049527,  self.bechmark_timeseries.loc[prev_date])
2025-06-27 00:00:00 is an reconsitution date
 cur_divisor is 13.426330845505474,  self.bechmark_timeseries.loc[prev_date])

In [6]:
bench.benchmark_makeup_dict

{Timestamp('2022-01-03 00:00:00'): 715    PINS
 564     LVS
 580     MCK
 472    INGM
 348    FAST
        ...
 282     DOX
 21      AEP
 197     CMG
 49      AME
 595    MKTX
 Name: ticker, Length: 300, dtype: object,
 Timestamp('2022-06-24 00:00:00'): 0       MTD
 1      CHWY
 2        IT
 3       HRB
 4       RNG
        ...
 277     HLI
 278     AME
 279     WEX
 280     FCN
 281     BYD
 Name: ticker, Length: 282, dtype: object,
 Timestamp('2023-06-23 00:00:00'): 0       CLX
 1      VRSK
 2       SGI
 3       COR
 4       CHH
        ...
 277    HOLX
 278    SEIC
 279    BMRN
 280    CACC
 281     HXL
 Name: ticker, Length: 282, dtype: object,
 Timestamp('2024-06-28 00:00:00'): 0      INSM
 1      RBLX
 2       EQH
 3      FTNT
 4      FTAI
        ...
 277     SSD
 278    IRDM
 279    CACC
 280     NEU
 281    FRHC
 Name: ticker, Length: 282, dtype: object,
 Timestamp('2025-06-27 00:00:00'): 0       CLX
 1      FTAI
 2      ALNY
 3      VRSK
 4       LYV
        ...
 277    SOLV
 278    CSGP
 279     PRI
 280     STZ
 281     GLW
 Name: ticker, Length: 282, dtype: object}