In [ ]:
'''
=================================================================
            Jupyter for Testing and Pulling Relevant Data
=================================================================

:::: Data Required for Recreating the Russell Midcap Growth Benchmark :::::
    (1): The universe of stocks. i.e. the Russel 3000 Index over the last five years (best case) or 
         last two years (worst case)
    (2): Market Capitilization over the last five year
    (3): EOD Closing Price of Russel 3000 the last five years 


'''

In [4]:
'''
=================================================================
            Quick Alpaca Example 
=================================================================
'''
# imports 
import pandas as pd 
from typing import cast
from datetime import datetime
import alpaca.data as adt
from alpaca.data import TimeFrame
from alpaca.trading import (
    TradingClient,
    OrderRequest,
    OrderType,
    OrderSide,
    TimeInForce,
)


API_KEY = 'PKI5OUPA4GGEGNIYHJJBNOPUWM'
API_SECRET = '7xXifaSB8hwMHoJYRw7dPw2nFpAjNcVnBjw64T79Qdyi'
data_client = adt.StockHistoricalDataClient(api_key= API_KEY, secret_key = API_SECRET)
symbols = ["NVDA","MSFT"]
start_date = datetime(2021,1,1)
end_date = datetime(2026,1,1)


bars_request = adt.StockBarsRequest(
        symbol_or_symbols= symbols,
        start = start_date,
        end = end_date,
        timeframe = TimeFrame.Day, #type: ignore
        feed  =adt.DataFeed.SIP,
)

bars = data_client.get_stock_bars(bars_request)
bars = cast(adt.BarSet,bars)
bars = cast(adt.BarSet,bars)
df_day: pd.DataFrame = bars.df 

df_day

                                    open      high       low   close  \
symbol timestamp
MSFT   2021-01-04 05:00:00+00:00  222.53  223.0000  214.8100  217.69
       2021-01-05 05:00:00+00:00  217.26  218.5200  215.7000  217.90
       2021-01-06 05:00:00+00:00  212.17  216.4899  211.9400  212.25
       2021-01-07 05:00:00+00:00  214.04  219.3400  213.7100  218.29
       2021-01-08 05:00:00+00:00  218.68  220.5800  217.0261  219.62
...                                  ...       ...       ...     ...
NVDA   2025-12-24 05:00:00+00:00  187.94  188.9100  186.5900  188.61
       2025-12-26 05:00:00+00:00  189.92  192.6900  188.0000  190.53
       2025-12-29 05:00:00+00:00  187.71  188.7550  185.9100  188.22
       2025-12-30 05:00:00+00:00  188.24  188.9900  186.9300  187.54
       2025-12-31 05:00:00+00:00  189.57  190.5600  186.4900  186.50

                                       volume  trade_count        vwap
symbol timestamp
MSFT   2021-01-04 05:00:00+00:00   43587790.0     390923.0  217.854867
       2021-01-05 05:00:00+00:00   27382012.0     257713.0  217.462246
       2021-01-06 05:00:00+00:00   41339673.0     421016.0  213.566337
       2021-01-07 05:00:00+00:00   33052439.0     268914.0  217.715930
       2021-01-08 05:00:00+00:00   26693248.0     255529.0  219.102451
...                                       ...          ...         ...
NVDA   2025-12-24 05:00:00+00:00   65528545.0    1265927.0  187.931535
       2025-12-26 05:00:00+00:00  139740292.0    2035094.0  191.348402
       2025-12-29 05:00:00+00:00  120006103.0    1952947.0  187.376403
       2025-12-30 05:00:00+00:00   97687274.0    1553292.0  187.774856
       2025-12-31 05:00:00+00:00  120100484.0    1661178.0  188.188285

[2510 rows x 7 columns]

In [7]:
'''
=================================================================
                Creating the Russell 3000 Dataframe. 
=================================================================
'''

import pandas as pd

df_3000 = pd.read_csv("IWP_holdings.csv")
df_3000

,Ticker,Name,Sector,Asset Class,Market Value,Weight (%),Notional Value,Quantity,Price,Location,Exchange,Currency,FX Rate,Market Currency,Accrual Date
0,HWM,HOWMET AEROSPACE INC,Industrials,Equity,"582,279,293.40",2.76,"582,279,293.40","2,760,926.00",210.90,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
1,RCL,ROYAL CARIBBEAN GROUP LTD,Consumer Discretionary,Equity,"527,561,105.30",2.50,"527,561,105.30","1,744,465.00",302.42,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
2,HLT,HILTON WORLDWIDE HOLDINGS INC,Consumer Discretionary,Equity,"460,920,031.00",2.19,"460,920,031.00","1,570,426.00",293.50,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
3,VRT,VERTIV HOLDINGS CLASS A,Industrials,Equity,"449,342,168.40",2.13,"449,342,168.40","2,619,460.00",171.54,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
4,NET,CLOUDFLARE INC CLASS A,Information Technology,Equity,"437,745,915.24",2.08,"437,745,915.24","2,158,404.00",202.81,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,IRDM,IRIDIUM COMMUNICATIONS INC,Communication,Equity,"890,262.00",0.00,"890,262.00","49,459.00",18.00,United States,NASDAQ,USD,1.0,USD,-
281,UWMC,UWM HOLDINGS CORP CLASS A,Financials,Equity,"736,035.73",0.00,"736,035.73","158,971.00",4.63,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
282,GLIBA,GCI LIBERTY INC SERIES A,Communication,Equity,"208,935.87",0.00,"208,935.87","5,603.00",37.29,United States,NASDAQ,USD,1.0,USD,-
283,NQH6,NASDAQ 100 E-MINI MAR 26,Cash and/or Derivatives,Futures,0.00,0.00,"10,852,275.00",21.00,"25,838.75",-,Index And Options Market,USD,1.0,USD,-
284,RTYH6,RUSSELL 2000 EMINI CME MAR 26,Cash and/or Derivatives,Futures,0.00,0.00,"17,738,075.00",137.00,"2,589.50",-,Chicago Mercantile Exchange,USD,1.0,USD,-