In [1]:
from abc import abstractmethod, ABC 
import pandas as pd 
from typing import Iterable, List, Optional
from datetime import datetime
import numpy as np

df = pd.read_csv("bloomberg_data_cleaned.csv")

#set date to datetime object 
df["date"] = pd.to_datetime(df["date"])
df.set_index(["date","ticker"],inplace= True)
pd.set_option('display.float_format', '{:,.4f}'.format)
df.head()

                      market_cap          volume  price_to_book  \
date       ticker
2022-01-03 A         47,257.0847    554,098.0000         8.7692
           AA        11,293.5460  1,033,749.0000         2.3785
           AAL       12,140.8973  8,786,970.0000            NaN
           AAON       4,106.6876     83,790.0000         8.8262
           AAPL   2,986,128.3180 20,242,137.0000        41.3474

                   price_to_sales  pe_ratio  current_cap_share_class  \
date       ticker
2022-01-03 A               7.5274   42.0279              47,257.0847
           AA              0.9249    8.9225              11,293.5460
           AAL             0.4051       NaN              12,140.8973
           AAON            7.6801   63.5297               4,106.6876
           AAPL            7.9614   30.1565           2,986,128.3180

                   close_price
date       ticker
2022-01-03 A          156.4800
           AA          60.3600
           AAL         18.7500
           AAON        52.2200
           AAPL       182.0100

In [ ]:
''' 
========================================================
        Class for Updating and Improving our Dataframe
========================================================
Class Functionality: 
    (1): Add growth on a rolling basis: 
    (2): 

:::: Rolling Basis Methodology Explained::::

unfortunately, we are unable to calculated a 5 year rolling basis 
because we do not have five years of lookback data (we are going to
work on expanding are data include this). Instead we propose the 
below lookback logic as an "best-effort alternative. 

(1) 1st approach that's complicated and not consistent.  
start the benchmark price window on a date such that there is half a year of lookback
data. approximately 151 trading days. The lookback window will continue to expand 
until that rolling window is 2 years of 504 trading days approximately. At that

(2) 2nd approach. use a year lookback window. 

'''

def rolling_growth_rate(price_to_sales : pd.Series) -> float:  
    lookback_days = 252 #one trading year 
    """_summary_
    """