In [ ]:
'''
=================================================================
            Jupyter for Testing and Pulling Relevant Data
=================================================================

:::: Data Required for Recreating the Russell Midcap Growth Benchmark :::::
    (1): The universe of stocks. i.e. the Russel 3000 Index over the last five years (best case) or 
         last two years (worst case)
    (2): Market Capitilization over the last five year
    (3): EOD Closing Price of Russel 3000 the last five years 


'''

In [9]:
'''
=================================================================
            Quick Alpaca Example 
=================================================================
'''
# imports 
import pandas as pd 
from typing import cast
from datetime import datetime
import alpaca.data as adt
from alpaca.data import TimeFrame
from alpaca.trading import (
    TradingClient,
    OrderRequest,
    OrderType,
    OrderSide,
    TimeInForce,
)


API_KEY = 'PKI5OUPA4GGEGNIYHJJBNOPUWM'
API_SECRET = '7xXifaSB8hwMHoJYRw7dPw2nFpAjNcVnBjw64T79Qdyi'
data_client = adt.StockHistoricalDataClient(api_key= API_KEY, secret_key = API_SECRET)
symbols = ["NVDA","MSFT"]
start_date = datetime(2021,1,1)
end_date = datetime(2026,1,1)


bars_request = adt.StockBarsRequest(
        symbol_or_symbols= symbols,
        start = start_date,
        end = end_date,
        timeframe = TimeFrame.Day, #type: ignore
        feed  =adt.DataFeed.SIP,
)

bars = data_client.get_stock_bars(bars_request)
bars = cast(adt.BarSet,bars)
bars = cast(adt.BarSet,bars)
df_day: pd.DataFrame = bars.df 

df_day

                                     open      high       low   close  \
symbol timestamp
NVDA   2021-01-04 05:00:00+00:00  524.170  546.0999  518.5000  524.54
       2021-01-05 05:00:00+00:00  523.990  537.7400  523.4800  536.19
       2021-01-06 05:00:00+00:00  528.900  529.8000  503.4400  504.58
       2021-01-07 05:00:00+00:00  518.700  535.1100  515.4601  533.76
       2021-01-08 05:00:00+00:00  534.500  536.8399  521.6800  531.07
...                                   ...       ...       ...     ...
MSFT   2025-12-24 05:00:00+00:00  485.680  489.1625  484.8300  488.02
       2025-12-26 05:00:00+00:00  486.705  488.1200  485.9600  487.71
       2025-12-29 05:00:00+00:00  484.855  488.3500  484.1800  487.10
       2025-12-30 05:00:00+00:00  485.930  489.6800  485.5000  487.48
       2025-12-31 05:00:00+00:00  487.840  488.1400  483.3000  483.62

                                      volume  trade_count        vwap
symbol timestamp
NVDA   2021-01-04 05:00:00+00:00  14905525.0     248453.0  530.211399
       2021-01-05 05:00:00+00:00   8902112.0     139713.0  533.759952
       2021-01-06 05:00:00+00:00  15076866.0     319139.0  516.755788
       2021-01-07 05:00:00+00:00  12254119.0     212257.0  528.135634
       2021-01-08 05:00:00+00:00   7830346.0     159453.0  528.973478
...                                      ...          ...         ...
MSFT   2025-12-24 05:00:00+00:00   5855880.0     227230.0  487.688468
       2025-12-26 05:00:00+00:00   8842175.0     329437.0  487.311472
       2025-12-29 05:00:00+00:00  10893408.0     390374.0  486.639104
       2025-12-30 05:00:00+00:00  13944512.0     379694.0  487.906528
       2025-12-31 05:00:00+00:00  15601554.0     352600.0  484.590048

[2510 rows x 7 columns]

In [ ]:
'''
=================================================================
            Russell Gowth Index Plot  
=================================================================
'''

In [ ]:


'''
=================================================================
                Creating the Russell 3000 Dataframe. 
=================================================================
Commment: 
    csv doesn't contain a full list of the russell 3000, we'd expect about 4000 stocks in that universe 

'''
import pandas as pd

df_3000 = pd.read_csv("IWP_holdings.csv")
df_3000

,Ticker,Name,Sector,Asset Class,Market Value,Weight (%),Notional Value,Quantity,Price,Location,Exchange,Currency,FX Rate,Market Currency,Accrual Date
0,HWM,HOWMET AEROSPACE INC,Industrials,Equity,"582,279,293.40",2.76,"582,279,293.40","2,760,926.00",210.90,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
1,RCL,ROYAL CARIBBEAN GROUP LTD,Consumer Discretionary,Equity,"527,561,105.30",2.50,"527,561,105.30","1,744,465.00",302.42,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
2,HLT,HILTON WORLDWIDE HOLDINGS INC,Consumer Discretionary,Equity,"460,920,031.00",2.19,"460,920,031.00","1,570,426.00",293.50,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
3,VRT,VERTIV HOLDINGS CLASS A,Industrials,Equity,"449,342,168.40",2.13,"449,342,168.40","2,619,460.00",171.54,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
4,NET,CLOUDFLARE INC CLASS A,Information Technology,Equity,"437,745,915.24",2.08,"437,745,915.24","2,158,404.00",202.81,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,IRDM,IRIDIUM COMMUNICATIONS INC,Communication,Equity,"890,262.00",0.00,"890,262.00","49,459.00",18.00,United States,NASDAQ,USD,1.0,USD,-
281,UWMC,UWM HOLDINGS CORP CLASS A,Financials,Equity,"736,035.73",0.00,"736,035.73","158,971.00",4.63,United States,New York Stock Exchange Inc.,USD,1.0,USD,-
282,GLIBA,GCI LIBERTY INC SERIES A,Communication,Equity,"208,935.87",0.00,"208,935.87","5,603.00",37.29,United States,NASDAQ,USD,1.0,USD,-
283,NQH6,NASDAQ 100 E-MINI MAR 26,Cash and/or Derivatives,Futures,0.00,0.00,"10,852,275.00",21.00,"25,838.75",-,Index And Options Market,USD,1.0,USD,-
284,RTYH6,RUSSELL 2000 EMINI CME MAR 26,Cash and/or Derivatives,Futures,0.00,0.00,"17,738,075.00",137.00,"2,589.50",-,Chicago Mercantile Exchange,USD,1.0,USD,-

In [ ]:
''' 
=================================================================
                YFinance Example:
=================================================================
:::Requirement::: 
    (1): I think pip install yfinance is required. 

:::Usage:::     
    (1): reconstruct market cap by getting shares outstanding data from yfinance. 
    (2): domicile information. 
    
'''

import yfinance as yf
import pandas as pd 
import numpy as np 

tickers = ['^GSPC','^RUT', 'AAPL', 'MSFT', 'NVDA','F','MMM' ]
start = '2021-01-01'
end = '2026-01-01'
stockdata = yf.download(tickers, start = start, end = end )['Close'] #type: ignore
print(stockdata)

''' 
Recreateing Market Value:  
'''

C:\Users\lovaa_ovuf9q6\AppData\Local\Temp\ipykernel_31044\3835341312.py:20: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stockdata = yf.download(tickers, start = start, end = end )['Close']
[*********************100%***********************]  7 of 7 completed

Ticker            AAPL          F         MMM        MSFT        NVDA  \
Date
2021-01-04  125.974464   6.464563  119.522331  208.882217   13.076726
2021-01-05  127.531967   6.563198  119.320702  209.083710   13.367160
2021-01-06  123.239052   6.707362  121.135765  203.662292   12.579125
2021-01-07  127.444351   6.874286  118.027222  209.457932   13.306578
2021-01-08  128.544418   6.828762  115.871376  210.734100   13.239516
...                ...        ...         ...         ...         ...
2025-12-24  273.809998  13.360000  160.339996  488.019989  188.610001
2025-12-26  273.399994  13.310000  162.080002  487.709991  190.529999
2025-12-29  273.760010  13.280000  161.720001  487.100006  188.220001
2025-12-30  273.079987  13.230000  161.169998  487.480011  187.539993
2025-12-31  271.859985  13.120000  160.100006  483.619995  186.500000

Ticker            ^GSPC         ^RUT
Date
2021-01-04  3700.649902  1945.910034
2021-01-05  3726.860107  1979.109985
2021-01-06  3748.139893  2057.919922
2021-01-07  3803.790039  2096.889893
2021-01-08  3824.679932  2091.659912
...                 ...          ...
2025-12-24  6932.049805  2548.080078
2025-12-26  6929.939941  2534.350098
2025-12-29  6905.740234  2519.800049
2025-12-30  6896.240234  2500.590088
2025-12-31  6845.500000  2481.909912

[1255 rows x 7 columns]

In [12]:
stockdata

Ticker,AAPL,F,MMM,MSFT,NVDA,^GSPC,^RUT
Date,,,,,,,
2021-01-04,125.974464,6.464563,119.522331,208.882217,13.076726,3700.649902,1945.910034
2021-01-05,127.531967,6.563198,119.320702,209.083710,13.367160,3726.860107,1979.109985
2021-01-06,123.239052,6.707362,121.135765,203.662292,12.579125,3748.139893,2057.919922
2021-01-07,127.444351,6.874286,118.027222,209.457932,13.306578,3803.790039,2096.889893
2021-01-08,128.544418,6.828762,115.871376,210.734100,13.239516,3824.679932,2091.659912
...,...,...,...,...,...,...,...
2025-12-24,273.809998,13.360000,160.339996,488.019989,188.610001,6932.049805,2548.080078
2025-12-26,273.399994,13.310000,162.080002,487.709991,190.529999,6929.939941,2534.350098
2025-12-29,273.760010,13.280000,161.720001,487.100006,188.220001,6905.740234,2519.800049
2025-12-30,273.079987,13.230000,161.169998,487.480011,187.539993,6896.240234,2500.590088
2025-12-31,271.859985,13.120000,160.100006,483.619995,186.500000,6845.500000,2481.909912